.link {
  color: rgb(0, 0, 0);
}

.link:focus,
.link:hover {
  color: rgb(255, 0, 0);
}

.link:active {
  color: cyan;
}

.button {
  color: rgb(0, 0, 255);
}

.button:hover,
.button:focus {
  color: chocolate;
}

.button:active {
  color: rgb(247, 0, 255);
}

.schedule-body > tr:hover {
  background-color: tomato;
  color: white;
}

/* Оформление таблицы */
.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}

.alert {
  --alert-text-color: black;
  --alert-accent-color: tomato;
}

.alert-text {
  color: var(--alert-text-color);
  border: 1px solid var(--alert-accent-color);
}

.alert-icon {
  background-color: var(--alert-accent-color);
}
